body {
    background: #0c0c0c;
    color: #eee;
    font-family: sans-serif;
    font-size: 14px;
}

notification {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    white-space: pre;
}
