body {
    background: rgb(20 20 20);
    color: #eee;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background: grey;
}

/* // webkit scrollbars */
::-webkit-scrollbar {
    width: 8px;
    margin: 5px 0;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-track-piece  {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb, #1c1c1c);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-thumb-hover, #333333);
}
::-webkit-scrollbar-corner {
    background: transparent;
}

notification {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    white-space: pre;
}

.app {
    height: 100%;
    display: flex;
}

.sidebar {
    background: #1F1F23;
    display: grid;
    grid-template-rows: 1fr auto;
    width: 42px;
    flex: none;
    z-index: 10000;
    position: relative;
    border-right: 1px solid rgb(48, 48, 48);
}

.body {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
}

.chat {
    height: 100%;
    flex: 1;
    position: relative;
}

.chat-input {
    background: #19191C;
}