{
  "semi": true,
  "singleQuote": true,
  "trailingComma":  "none",
  "printWidth":  120,
  "useTabs":  true,
	"tabWidth": 2,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "endOfLine": "lf"
}
